{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аудіогід</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="main-page">
        <img class="main-page-image" src="{% static 'main/images/main_page_image.png' %}" alt="">
        <div class="main-page-foreground">
            <div class="main-page-foreground-up"></div>
            <div class="main-page-foreground-down">
                <div style="width: 1024px; margin: auto">
                    <h1 style="font-size: 48px; font-weight: normal">AUDIOWALK</h1>
                    <h1 style="font-size: 64px; font-weight: bold">СЛІДАМИ ПОЛТАВСЬКИХ ЄВРЕЇВ</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="yep">
        <h1>ЗНАЙОМСТВО</h1>
        <div class="container">
            Цю аудіопрогулянку підготувала творча команда Відокремленого структурного підрозділу «Полтавський
            політехнічний фаховий коледж Національного технічного університету «Харківський політехнічний інститут» у
            складі: Олени Москаленко, викладачки суспільних дисциплін та студентів II курсу – Таїсії ДЕРКАЧ, Сергія
            ЖЕРЕВЧУКА, Олександра ЯНУША.
        </div>
    </div>
</body>
</html>