{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аудіогід</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <div class="main-page">
        <img class="main-page-image" src="{% static 'main/images/main_page_image.png' %}" alt="">
        <div class="main-page-foreground">
            <div class="main-page-foreground-up"></div>
            <div class="main-page-foreground-down">
                <div style="width: 1024px; margin: auto">
                    <h1 style="font-size: 48px; font-weight: normal">AUDIOWALK</h1>
                    <h1 style="font-size: 64px; font-weight: bold">СЛІДАМИ ПОЛТАВСЬКИХ ЄВРЕЇВ</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="knowing">
        <hr>
        <h1>ЗНАЙОМСТВО</h1>
        <audio controls src="{% static 'main/audio/Знайомство.m4a' %}"></audio>
        <img src="{% static 'main/images/knowing_1.png' %}" alt="">
        <div>
            Цю аудіопрогулянку підготувала творча команда <a target="_blank" href="https://sites.google.com/polytechnic.co.cc/main">
            Відокремленого структурного підрозділу «Полтавський політехнічний фаховий коледж Національного технічного
            університету «Харківський політехнічний інститут»</a> у складі: Олени Москаленко, викладачки суспільних
            дисциплін та студентів II курсу – Таїсії ДЕРКАЧ, Сергія ЖЕРЕВЧУКА, Олександра ЯНУША.
        </div>
        <div>
            Аудіопрогулянка «СЛІДАМИ ПОЛТАВСЬКИХ ЄВРЕЇВ» розповість вам історію центральної вулиці м. Полтава – вул.
            Соборності, де ще в XIX - до середини XX ст. все активне життя міста проходило за участю єврейської
            громади, а сьогодні майже нема згадок про це. Тож якщо ви бажаєте дізнатися більше про історію нашого
            міста, скористайтесь цією інформацією під час прогулянки й ви не пошкодуєте.
        </div>
        <div>
            Інтерактивна мапа допоможе вам дізнатися про архітектурні пам’ятки єврейської історії Полтави. Аудіогід
            створено на основі архівного матеріалу, що ми зібрали і опрацювали.
        </div>
        <div>
            А також пропонуємо вам переглянути авторський фільм «<a target="_blank" href="https://www.youtube.com/watch?v=USUef-OR4ME">НАША
            ВІДПОВІДАЛЬНІСТЬ ПЕРЕД МАЙБУТНІМ</a>» – про цю аудіопрогулянку і трохи більше.
        </div>
    </div>
    <div id="introduction" class="introduction">
        <hr>
        <h1>ВСТУП ДО ЄВРЕЙСЬКОЇ ІСТОРІЇ ПОЛТАВИ</h1>
        <audio controls src="{% static 'main/audio/Вступ_до_єврейської_історії_Полтави.mp3' %}"></audio>
        <img src="{% static 'main/images/introduction_1.png' %}" alt="">
        <div>
            Перші статистичні відомості про проживання євреїв в 12 повітах Полтавської губернії відносяться до 1804 року. Все населення її становило 1 млн. 373 тис. 29 осіб. Євреї –2114 чол. чоловічої статі. Скільки жінок і дітей, даних немає, але якщо збільшити кількість чоловічої статі вдвічі, євреїв на початку XIX століття було до 5 тисяч осіб. Це 0,4% всього населення. У Полтаві євреїв-купців було  18, міщан – 285 (чоловічої статі). В 1897 р. населення Полтави досягло 53703 чоловік. З них євреїв –близько 10 тис.
        </div>
        <div id="see-more"  class="see-more" onclick="yep(this.id)">
            <p>Дивитися більше...</p>
        </div>
        <div>
            До початку XX століття єврейська громада в Полтавській губернії сформувалася. Полтава мала велику кількість єврейських культових установ: перша кам'яна синагога, Велика хоральна синагога, синагога Маснагдім, Солдатська синагога, Хабатська синагога, синагога Зеленського, синагога Молдавського, Кравецька синагога, Лікарняна синагога.
        </div>
        <div>
            Революція 1905-1907 рр. – страшна трагедія для єврейського народу. Тут проявилися позитивні і негативні фактори українсько-єврейських відносин. Чорносотенці проводили антиєврейські акції в Полтаві.
        </div>
        <div>
            Лютнева революція 1917 р.  та громадянська війна відкрила нову сторінку в історії євреїв, принесла з собою важкі часи для єврейського народу України. Спочатку євреї отримали рівні громадянські та національні права з рештою населення. Єврейські партії вийшли з підпілля, почалася їх бурхлива політична,  громадська та культурна діяльність. В кінці грудня 1917 р. Полтаві розпочалися погроми.
        </div>
        <div>
            З остаточним встановленням радянської влади в грудні 1919 року, єврейське релігійне і громадське життя почали поступово згортатися.
        </div>
        <div>
            Згідно з даними всесоюзного перепису населення 1939 року в Полтаві проживали 12860 євреїв.
        </div>
        <div>
            У період Другої світової нацисти проводили по відношенню до євреїв політику тотального знищення.
        </div>
        <div>
            Євреї Полтавщини розділили долю всього українського єврейства: вони були в більшості знищені на початку окупації і не дожили до виселення в табори смерті. Їх знищила та сама зондеркоманда айнзацгрупи «С», яка розстріляла київських євреїв у Бабиному Яру.
        </div>
        <div>
            Загалом за роки нацистської окупації на Полтавщині загинуло 221895 мирних громадян, в т. ч. 152270 чоловіків, 58369 жінок, 11286 дітей.
        </div>
        <div>
            Єврейські жертви склали більше 47% довоєнного єврейського населення області. Найбільше євреїв загинуло в Полтаві – 16 тис., Кременчукі – 8 тис., Лубнах – 4 тис.
        </div>
        <div>
            <i>
                За свідченнями документів, масове знищення євреїв у Полтаві розпочалося 23 листопада 1941 року. Як повідомляли мешканці Полтави: «23 листопада 1941 року євреїв зібрали на вулиці Пушкарівській для переселення  в іншу місцевість. У них відібрали коштовності, гроші, одяг, взуття і розстріляли. Трупи кидали в рів  колишнього стрільбища. Дітям змазували губи і під носом ядовитою рідиною, а маленьких кидали в рів живими. Цілу ніч мешканці цієї околиці чули стогін засипаних землею вмираючих людей».
            </i>
        </div>
        <div>
            <b>Лідія В., 1937 р.н., місцева жителька Полтави, згадує про цю трагедію:</b>
        </div>
        <video controls src="{% static 'main/video/ВІДЕОСВІДЧЕННЯ.mp4' %}"></video>
        <br>
        <div>
            Комісія із розслідування злочинів здійснила розкопки і уточнила кількість розстріляних 23 листопада, їх нараховувалось близько 8 тис. чоловік.
        </div>
        <div>
            На даний час  відомо трохи більше 300 імен полтавських євреїв, життя яких трагічно було перервано 23 листопада 1941 року.
        </div>
        <div>
            У повоєнний час єврейська громада в Полтавській області фактично припинила своє існування.
        </div>
        <div>
            Але у місті збереглися багато будівель, які були свідками славного минулого полтавського єврейства. При цьому, дуже часто на них немає жодних позначень про те, що колись вони належали єврейській громаді. Наш аудіогід дає можливість відчути атмосферу цих історичних місць. Зануртесь у багатогранну єврейську історію Полтави! Бажаємо вам приємних несподіванок і відкриттів разом з нашим аудіогідом.
        </div>
    </div>
    <div class="interactive-map">
        <hr>
        <h1>ІНТЕРАКТИВНА МАПА</h1>
        <iframe width="960"
                height="672"
                data-original-width="1143"
                data-original-height="801"
                src="https://www.thinglink.com/view/scene/1701480954717012772"
                type="text/html"
                style="border: none;"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
                scrolling="no"></iframe>
        <script async src="//cdn.thinglink.me/jse/responsive.js"></script>
    </div>
    <div class="quiz">
        <hr>
        <h1>ВІКТОРИНА «ЄВРЕЙСЬКА ПОЛТАВА»</h1>
        <img src="{% static 'main/images/quiz_1.jpg' %}" alt="">
        <div>
            Якщо ви бажаєте на лише прогулятися нашим містом та отримати багато цікавої інформації про єврейську історію Полтави, а й перевірити свої знання, то запрошуємо взяти участь у
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeBsLpyHw3VuBCkOhghKkodlKz6t0ieyVbSFgoHX5SVJkuvQg/viewform?usp=sf_link">вікторині</a>.
        </div>
    </div>
    <div class="footer">
        <h1>Долучайтесь до нас!</h1>
        <div>
            <p>ЕЛЕКТРОННА АДРЕСА</p>
            <hr>
            <a href="mailto:worldviewppc@gmail.com">worldviewppc@gmail.com</a>
        </div>
        <div>
            <p>АДРЕСА</p>
            <hr>
            <p>ВСП "ППФК НТУ "ХПІ" м. Полтава, вул. Пушкіна, 83а</p>
        </div>
    </div>

    <script>
        function yep(clicked_id) {
            let element = document.getElementById("introduction")
            element.style.height = "100%"

            let btn = document.getElementById(clicked_id)
            btn.style.display = "none"
        }
    </script>
</body>
</html>