@font-face {
    font-family: "Philosopher";
    src: local("../fonsts/Philosopher-Regular.ttf"), url("../fonts/Philosopher-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Philosopher";
    src: local("../fonsts/Philosopher-Bold.ttf"), url("../fonts/Philosopher-Bold.ttf") format("truetype");
    font-weight: bold;
}


a {
    color: #0500FF;
}

body {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

body img {
    width: 512px;
    outline: #59AE69 2px solid;
    margin: 16px;
    border-radius: 10px;
}

body audio {
    display: flex;
    margin: 16px auto;
    width: 450px;
}

body video {
    width: 512px;
    outline: #59AE69 2px solid;
    margin: 16px;
    border-radius: 10px;
}

body hr {
    width: 70%;
    border-radius: 2px;
    border: 0;
    background-color: #59AE69;
    height: 4px;
}

.main-page {
    position: relative;
    display: flex;
    z-index: 0;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.main-page-image {
    width: 100%;
    outline: 0;
    margin: 0;
}

.main-page-foreground {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.main-page-foreground-up {
    background-color: #AD8F58;
    opacity: 80%;
    width: 100%;
    height: 70%;
}

.main-page-foreground-down {
    background-color: #59AE69;
    width: 100%;
    height: 30%;
    display: grid;
}

.main-page-foreground h1 {
    font-family: Philosopher, serif;
    text-align: center;
    margin: 0;
}

.knowing {
    font-family: Philosopher, serif;
    margin: 32px;
}

.knowing h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    margin: 0;
}

.knowing div {
    text-indent: 1.25cm;
    text-align: justify;
    font-size: 24px;
}

.knowing img {
    float: left;
}

.introduction {
    font-family: Philosopher, serif;
    position: relative;
    margin: 32px;
    height: 465px;
    overflow: hidden;
}

.see-more {
    display: flex;
    justify-content: center;
    margin: 4px 0;
    border-radius: 10px;
    background: #59AE69;
    padding: 5px;
}

.see-more p {
    margin: 8px auto;
}

.see-more:hover {
    background-color: yellow;
    cursor: pointer;
}

.introduction h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    margin: 0;
}

.introduction div {
    text-indent: 1.25cm;
    text-align: justify;
    font-size: 24px;
}

.introduction img {
    float: right;
}

.introduction video {
    float: right;
}

.interactive-map {
    font-family: Philosopher, serif;
    margin: 32px;
}

.interactive-map h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    margin: 0;
}

.quiz {
    font-family: Philosopher, serif;
    margin: 32px;
    display: table;
}

.quiz h1 {
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    margin: 0;
}

.quiz div {
    text-indent: 1.25cm;
    text-align: justify;
    font-size: 24px;
}

.quiz img {
    float: left;
}

.footer {
    background-color: #59AE69;
    font-family: Philosopher, serif;
    margin-top: 32px;
    padding: 8px 32px;
    display: flex;
    border-radius: 10px 10px 0 0;
}

.footer h1 {
    margin-right: 150px;
}

.footer div {
    margin: auto;
    text-align: center;
}

.footer p {
    margin: 1px;
}

.footer hr {
    width: 180px;
    border: 0;
    background-color: #FFFFFF;
    height: 1px;
}
